*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
x64/
x86/
build/
bld/
msbuild.log
msbuild.err
msbuild.wrn
bin/
obj/

# Visual Studio 2015
.vs/

# Text files
*.txt
*.log