@using mvcAndBlazor.Components
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<Component></Component>

@(await Html.RenderComponentAsync<Component>(RenderMode.ServerPrerendered))